[DHCP] non of the options are transmitted

### Issue Details

<!-- Please include all relevant details about the environment you experienced the bug in.  If possible, include the result of running `./AdGuardHome -v --version` from the installation directory. -->

* **Version of AdGuard Home server:**
  * v0.107.7
* **How did you install AdGuard Home:**
  * Docker (adguard/adguardhome:latest)
* **How did you setup DNS configuration:**
  * ?
* **If it's a router or IoT, please write device model:**
  * Synology DS614!play
* **CPU architecture:**
  * Intel
* **Operating system and version:**
  * DSM 7.1-42661 Update 2

### Expected Behavior
Entered DHCPv4-options are sended to the client even when not directly requested (like https://github.com/AdguardTeam/AdGuardHome/issues/4152)

### Actual Behavior
None of the entered options in the AdGuardHome.yaml (dhcp/dhcpv4/options) are sended to the client.

### Screenshots
<!-- If applicable, add screenshots to help explain your problem. -->

<details><summary>Screenshot from the config:</summary>

![image](https://user-images.githubusercontent.com/108552488/176965693-b2f0556c-85c5-46a6-8e05-ab0f40ddb629.png)
</details>

<details><summary>Screenshot from responding answer to a discover packet from AGH</summary>

![image](https://user-images.githubusercontent.com/108552488/176965994-23969ba5-0b3e-4c7f-8386-6ae866f0dc35.png)
</details>

<details><summary>Screenshot from responding answer to a discover packet from parallel installed docker-image dhcpd with nearly the same config-options</summary>

![image](https://user-images.githubusercontent.com/108552488/176966159-1dafd540-9adc-4ed6-a601-bc470d57f923.png)
</details>

As seen, dhcpd sends all available options when AGH only sends  the absolut minimum



### Additional Information
config-file is loaded correctly because in logfile are no errors, and when configured an extremly short lease time (60sec) it is loaded correctly and also is sended to the client


@RealKev79, hello.  Just to ensure, have you enabled DHCP by setting `dhcp.enabled` field  in the config to `true`?  Also, which ports are exposed in the AGH's container?

Hi @EugeneOne1 ,
sorry but this question could you answer by yourself ;-) When the DHCP weren´t enabled then it would not be responding with the  "standard" options (51, 53, 54). And also the ports couldn´t be a problem, because the server is responding (and the image is configured with "host"-network ;-))

@RealKev79, hello again and sorry for leaving the issue with no attention, but we've came up with an assumption.  The current implementation only overwrites the options that should be in the response (we've also described this in the [wiki](https://github.com/AdguardTeam/AdGuardHome/wiki/DHCP#the-dhcpdhcpv4options-array-field)):

 1. the ones explicitly requested by client with the option [`55`](https://datatracker.ietf.org/doc/html/rfc2132#section-9.8);
 2. the ones required for host configuration, as per [RFC 2131](https://datatracker.ietf.org/doc/html/rfc2131) (which points to [RFC 1122](https://datatracker.ietf.org/doc/html/rfc1122), [RFC 1123](https://datatracker.ietf.org/doc/html/rfc1123), [RFC 2132](https://datatracker.ietf.org/doc/html/rfc2132)).

Shortly, I suppose the device doesn't request the parameters, you're trying to rewrite.

Hi @EugeneOne1,
sorry to bother you, but did I get this topic right that the DHCP in AdGuardHome is only pushing the "standard" option as an offer and all other, in the config entered, options are ignored and only are pushed when the client is directly requesting them?

Is this right or did I get something wrong?

Yes my request is a "simple" dhcp-discover (with a dhcp-test-tool), and as you can see in my screenshots above, that my parallel installed DHCPD-Docker responses there directly with all possible options from the config.

How should I unterstand the milestone? Would you (the whole team ;-)) check it and "corrected" it in that version, so that all options from the config are then provided?

Greetings

@RealKev79, could you please take a look at the [RFC 2131 page 29](https://datatracker.ietf.org/doc/html/rfc2131#page-29), the paragraph after the table 3.  Doesn't it state that only the explicitly requested options (called "parameters" there) should be returned to the client?  However, the same list of statements also contains the item:

 >  Parameters with non-default values on the client's subnet.

Perhaps it means exactly the desired feature.  @ainar-g, what do you think?

@RealKev79, hello again.  We've fixed the DHCP options logic as well as added some new option types for convenient overriding the default ones.  You may find the verbose description in the [wiki page](https://github.com/AdguardTeam/AdGuardHome/wiki/DHCP#config-4).  The fix is already available in the latest edge build.  Could you please check, if the desired options are returned now?

Hi @EugeneOne1, I have tried the "edge-version" and there everything works fine, as you can see:
![image](https://user-images.githubusercontent.com/108552488/188994828-c718bdb0-fe26-456e-a91d-3df91c4e3453.png)


Fine, then I'll close the issue.  Thank you for reporting.